<ion-header>

  <ion-navbar>
    <ion-buttons start>
      <button ion-button (click)="voltar()" color="botaoVoltar">Voltar</button>
    </ion-buttons>
    <ion-title *ngIf="usuario">{{usuario.nome}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-content style="padding: 0;">
      <ion-grid *ngIf="usuario">
        <ion-row>
          <ion-col col-6>
            <ion-col col-12>
              <h6>{{usuario.tipoUsuario != 'CLIENTE' ? 'LIMITE' : 'SALDO'}}</h6>
              <h6>{{saldo | currency:'BRL':"symbol"}}</h6>
            </ion-col>
          </ion-col>
          <ion-col col-6>
            <ion-col col-12>
              <h6>NOVO {{usuario.tipoUsuario != 'CLIENTE' ? 'LIMITE' : 'SALDO'}}</h6>
              <h6>{{novoSaldo | currency:'BRL':"symbol"}}</h6>
            </ion-col>
          </ion-col>

          <ion-col col-12>
            <h6>{{usuario.tipoUsuario != 'CLIENTE' ? 'Defina o novo Limite' : 'VALOR'}}</h6>
          </ion-col>
          <ion-col col-12>
            <ion-row>
              <ion-col col-2 ><span style="position: relative; top: 12px">R$</span></ion-col>
              <ion-col col-8>
                  <ion-item>
                    <ion-input type="number" [(ngModel)]="credito" name="credito" (keyup)="atualizarSaldo()" placeholder="0.00" small></ion-input>
                  </ion-item>
              </ion-col>
              <ion-col col-2 ><span style="position: relative; top: 12px">,00</span></ion-col>
              <ion-col col-12><button ion-button full color="secondary" (click)="atualizaSaldo()">Salvar</button></ion-col>
           </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-grid>
    <ion-row>
      <ion-col col-12 class="texto-menor">LEGENDA</ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6><ion-icon name="timer"></ion-icon> Pendente</ion-col>
      <ion-col col-6><ion-icon name="checkmark"></ion-icon> Concluído</ion-col>
    </ion-row>
  </ion-grid>
  <ion-list *ngIf="transacoes">
    <ion-grid class="extrato-grid">
      <ion-row>
        <ion-col col-3>Data</ion-col>
        <ion-col col-6>Tipo</ion-col>
        <ion-col col-3>Valor</ion-col>
      </ion-row>
      <ion-row *ngFor="let transacao of transacoes">
        <ion-col col-3 style="font-size: 1.1rem">{{transacao.dataFormatada}}</ion-col>
        <ion-col col-6><ion-icon [name]="iconeStatus(transacao)"></ion-icon> {{getTipoTransacao(transacao)}}</ion-col>
        <ion-col col-3 [class]="cssValor(transacao)">
            <ion-icon [class]="cssIcone(transacao)"></ion-icon>
            {{(transacao.valor || 0) | currency:'BRL':"symbol"}}
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
</ion-content>
