page-configuracao-cadastro {
  ion-label{
    white-space: normal;
    margin-right: 0 !important;
  }

  .checkboxPermissao ion-checkbox{
    margin: auto 10px !important;
  }

  .checkboxPermissao div.item-inner{
    border: none !important;
    color: #999 !important;
  }
}
