<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Fatura</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-card>
    <ion-card-content style="padding: 0;">
      <ion-grid style="padding-top: 0; padding-bottom: 0;">
        <ion-row>
          <ion-item col-5>
            <ion-label color="primary" stacked><b>Data Inicial</b></ion-label>
            <ion-datetime color="primary" displayFormat="DD/MM/YYYY" [(ngModel)]="dataInicial" name="dataInicial" placeholder="__/__/____" style="padding: 5px 0px"></ion-datetime>
          </ion-item>

          <ion-item col-5>
            <ion-label color="primary" stacked><b>Data Final</b></ion-label>
            <ion-datetime color="primary" displayFormat="DD/MM/YYYY" [(ngModel)]="dataFinal" name="dataFinal" placeholder="__/__/____" style="padding: 5px 0px"></ion-datetime>
          </ion-item>

          <button ion-button icon-only small outline style="margin: auto; font-size: 17px; color: #5b5b5b; border: none;" (click)="consultaMovimentacoes(dataInicial, dataFinal)"><ion-icon name="search"></ion-icon></button>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card *ngFor="let movimentacao of movimentacoes">
    <ion-card-content style="padding: 0;">
      <ion-grid>
        <ion-row class="tipoMovimentacao {{bancaService.tipoMovimentacaoFinanceira(movimentacao.tipoMovimentacaoFinanceira, true)}}">
          <ion-col col-12>
            <ion-icon class="{{bancaService.tipoMovimentacaoFinanceira(movimentacao.tipoMovimentacaoFinanceira, false, true)}} icon-menu"></ion-icon> &nbsp; <b>bancaService.tipoMovimentacaoFinanceira(movimentacao.tipoMovimentacaoFinanceira)</b>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="movimentacao.tipoMovimentacaoFinanceira && movimentacao.tipoMovimentacaoFinanceira == 'CREDITO'">
          <ion-col col-6>
            <b>De: </b> {{movimentacao.usuario.nome}}
          </ion-col>
          <ion-col col-6>
            <b>Para: </b> {{movimentacao.usuarioTransferecnia.nome}}
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-6>
            <b>Crédito Antes: </b> {{movimentacao.valorAnterior}}
          </ion-col>
          <ion-col col-6>
            <b>Crédito Depois: </b> {{movimentacao.valorAtual}}
          </ion-col>
        </ion-row>

        <ion-row *ngIf="movimentacao.tipoMovimentacaoFinanceira && movimentacao.tipoMovimentacaoFinanceira != 'CREDITO' && movimentacao.tipoMovimentacaoFinanceira != 'DEBITO'">
          <ion-col col-12>
            <b>Código da Aposta: </b><br/>{{movimentacao.bilhete.id}}
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

</ion-content>
