<ion-header>

  <ion-navbar>
    <ion-buttons end>
      <button ion-button icon-only (click)="dismiss()" style="font-size: 18px;" color="botaoVoltar">
        <ion-icon name="arrow-dropdown"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Partida AO VIVO</ion-title>
  </ion-navbar>

  <ion-grid class="info">
    <ion-row>
      <ion-col col-12 style="text-align: right; padding: 5px 10px;">
        <a href="#" class="navbar" [ngClass]="{'active': !showGrafico}" (click)="show(false);">{{partida.event.scoreTeam1}} : {{partida.event.scoreTeam2}}</a>
        <a href="#" class="navbar" [ngClass]="{'active': showGrafico}"  (click)="show(true);"><ion-icon name="stats"></ion-icon></a>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <ion-row>
          <ion-col col-10> <ion-icon name="star" style="color: #446376"></ion-icon> &nbsp; {{partida.event.Player1}}</ion-col>
          <ion-col col-2><b>{{partida.event.scoreTeam1}}</b></ion-col>
        </ion-row>
      </ion-col>
      <ion-col col-6>
        <ion-row>
          <ion-col col-2><b>{{partida.event.scoreTeam2}}</b></ion-col>
          <ion-col col-10>{{partida.event.Player2}} &nbsp; <ion-icon name="star" style="color: #446376"></ion-icon></ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12 class="tempoPartida">
        {{partida.event.statusTime}} &nbsp; {{partida.event.tempoPartida.split(":")[0]}}'
      </ion-col>
    </ion-row>
    <ion-row *ngIf="showGrafico" class="infoGrafico">
      <ion-row col-12 class="header">
        <ion-col col-12>Tempo Regulamentar</ion-col>
      </ion-row>
      <ion-row col-12 style="padding-top: 0px;">
        <table col-12 style="border: solid 1px;">
          <thead>
            <tr>
              <td col-6>&nbsp;</td>
              <td><img src="assets/imgs/bola.png"            width="16px"/></td>
              <td><img src="assets/imgs/cartao-vermelho.png" width="16px"/></td>
              <td><img src="assets/imgs/cartao-amarelo.png"  width="16px"/></td>
              <td><img src="assets/imgs/escanteio.png"       width="16px"/></td>
              <td><img src="assets/imgs/penalidades.png"     width="16px"/></td>
              <td><img src="assets/imgs/substituicoes.png"   width="16px"/></td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td col-6>{{partida.event.Player1}}</td>
              <td>{{partida.event.scoreTeam1}}</td>
              <td>{{somaCounter(partida.event.Scoreboard.RedCards.Team1.Counters)}}</td>
              <td>{{somaCounter(partida.event.Scoreboard.YellowCards.Team1.Counters)}}</td>
              <td>{{somaCounter(partida.event.Scoreboard.Corners.Team1.Counters)}}</td>
              <td>{{somaCounter(partida.event.Scoreboard.Penalties.Team1.Counters)}}</td>
              <td>{{somaCounter(partida.event.Scoreboard.Substitutions.Team1.Counters)}}</td>
            </tr>
            <tr>
              <td col-6>{{partida.event.Player2}}</td>
              <td>{{partida.event.scoreTeam2}}</td>
              <td>{{somaCounter(partida.event.Scoreboard.RedCards.Team2.Counters)}}</td>
              <td>{{somaCounter(partida.event.Scoreboard.YellowCards.Team2.Counters)}}</td>
              <td>{{somaCounter(partida.event.Scoreboard.Corners.Team2.Counters)}}</td>
              <td>{{somaCounter(partida.event.Scoreboard.Penalties.Team2.Counters)}}</td>
              <td>{{somaCounter(partida.event.Scoreboard.Substitutions.Team2.Counters)}}</td>
            </tr>
          </tbody>
        </table>
      </ion-row>
    </ion-row>
  </ion-grid>
  <ion-grid style="border-bottom: 1.2px solid #dbe0e4; box-shadow: 0px -1px 4px rgba(0,0,0, 0.6);">
    <ion-row>
      <ion-col col-12 style="text-align:center;"><b class="btntool">Tempo Regulamentar</b></ion-col>
    </ion-row>
  </ion-grid>

</ion-header>

<ion-content padding>

  <div *ngFor="let market of partida.event.Markets">
    <ion-card style="padding: 0;" *ngIf="market.Visible">
      <ion-card-content>
        <ion-grid style="padding: 0;">
            <ion-row>
              <ion-col class="time titulo" col-11>
                <b>{{market.Name}}</b>
              </ion-col>
              <ion-col class="time titulo" col-1 (click)="market.esconder = !market.esconder">
                <ion-icon name="{{market.esconder ? 'arrow-dropdown' : 'arrow-dropup'}}"></ion-icon>
              </ion-col>
            </ion-row>

            <div *ngIf="!market.esconder">
              <ion-row class="time casa" *ngFor="let result of market.Results" >
                <ion-col col-9>{{result.Name}}</ion-col>
                <ion-col col-3>
                  <button ion-button full *ngIf="result.Visible" (click)="selecionaOpcao(result, market)" [color]="buttonStyle(result, market)">
                    <span *ngIf="result.Visible">{{result.Odds}}</span>
                  </button>
                  <button ion-button icon-only round small disabled style="text-align:center; display: block; margin: 0 auto;" *ngIf="!result.Visible">
                    <ion-icon name="lock" ></ion-icon>
                  </button>
                </ion-col>
              </ion-row>
            </div>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>

<ion-footer class="resumo" *ngIf="bs.getBilhete().listaApostas.length > 0" (click)="toBilhete()">
  <ion-grid style="padding: 0;">
    <ion-row class="resumoAposta">
      <ion-col col-3 style="margin-top: 9px;">Resumo</ion-col>
      <ion-col col-3 class="colunaResumo">{{bs.getBilhete().listaApostas.length}}<br/>Jogos</ion-col>
      <ion-col col-3 offset-1 class="colunaResumo">{{bs.getBilhete().valorPossivelRetorno || 0 | currency : 'BRL' : 'symbol'}}<br/>Retorno</ion-col>
      <ion-col col-2 style="text-align: center;"><ion-icon name="arrow-dropup" style="font-size: 24px; margin-top: 2px;"></ion-icon></ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
