page-login {
  ion-content.content{
      background-image: url("../assets/imgs/background_login.png");
      background-repeat: no-repeat;
      background-position: center;
      background-attachment: fixed;
      background-size: cover;
      text-align: center;
  }

  .text-input{
      color: color($colors, login-text, base);
  }

  .logo-img{
      content:url("../assets/imgs/logo.png");
      height: 130px;
      margin-top: 40px;
  }

  .titulo{
      color: color($colors, login, base);
      font-family: cursive;
      margin-top: 10px;
  }

  .item-md.item-block .item-inner{
    border-bottom-color: color($colors, login-text, base);
  }

  .button-primary{
      font-weight: bold;
      margin: 20px auto 0px auto;
  }

  .button-center{
      @extend .button-primary;
      width: 75%;
  }

  .button-left{
      @extend .button-primary;
      float: left;
      width: 48%;
  }

  .button-right{
      @extend .button-primary;
      width: 100%;
  }

  .conteudo-outter-top{
      display: table;
      position: relative;
      height: 20%;
      width: 100%;
  }

  .conteudo-outter-bottom {
      display: table;
      position: relative;
      height: 65%;
      width: 100%;
  }

  .conteudo-middle {
      display: table-cell;
      vertical-align: middle;
  }

  .conteudo-inner {
      margin-left: auto;
      margin-right: auto;
      width: 80%;
      /*whatever width you want*/
  }

  .item{
      background-color: transparent;
      color: color($colors, login, base);
      padding-left: 0px;
  }

  .item-input-has-focus .label-md[stacked]{
      @extend .item;
  }

  .item-md.item-input.item-input-has-focus .item-inner,
  .item-md.item-input.input-has-focus .item-inner {
      border-bottom-color: color($colors, login, base);;
      -webkit-box-shadow: inset 0 -1px 0 0 color($colors, login, base);;
      box-shadow: inset 0 -1px 0 0 color($colors, login, base);;
  }

  .esqueceu-senha{
      padding-top: 10px;
      clear: both;
      text-align: right;
      padding-right: 8px;
  }

  .esqueceu-senha a{
      color: color($colors, login, base);
      font-style: normal;
      text-decoration: none;
  }

  .col{
      padding: 0px;
  }

  [col-6]{
      padding: 0px 5px 0px 0px;
  }

  .datetime{
      padding: 13px 8px 3px 16px;
  }

  .lembrar{
    margin-top: 3vh;
  }

  .lembrar ion-label{
    color: #fff;
    vertical-align: super;
    margin: auto 0;
    text-align: center;
    display: inline-block;
  }
  .lembrar ion-toggle{
    display: inline-block;
    padding-bottom: 7px;
  }

  ion-item .item-inner{
    border-bottom: none !important;
  }

  ion-item ion-input{
    background-color: #3c4656;
    border-radius: 3px;
  }

  .mensagemLogin{
    background-color: #4f5052e3;
    border: 0;
    border-radius: 20px 20px 20px;
    box-shadow:0 0 0 1px rgb(41, 41, 49), 0 1px 10px rgba(0, 0, 0, 0.35);
    color: #fff;
    padding: 8px;
    font-size: 10px;
  }

  .botaoEntrar{
    background-image: linear-gradient(to right, #fb101b , #600004);
  }
}
