<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Usuarios</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content style="padding: 0;">
      <ion-grid>
        <ion-row>
          <ion-col col-12>
            <ion-row class="aposta-row">
              <ion-col col-6>Usuários:  {{usuariosTotal}}</ion-col> <ion-col col-6>Camb. / Gerentes:  {{usuariosCamb}}</ion-col>
              <ion-col col-6>Ativos:  {{usuariosAtivos}}</ion-col> <ion-col col-6>Inativos:  {{usuariosInativ}}</ion-col>
            </ion-row>
          </ion-col>
       </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-grid>
    <ion-row>
      <ion-col col-12>
        <button ion-button (click)="showModal(u, 'CADASTRO')" icon-left color="primary" class="aposta-button">
          <ion-icon name="add-circle"></ion-icon>Novo Usuário</button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-searchbar placeholder="Nome do Usuário" (ionInput)="filterItems($event)"></ion-searchbar>

  <ion-card>
    <ion-card-content style="padding: 0;">
      <ion-grid style="padding-top: 0; padding-bottom: 0;">
        <ion-row>
          <ion-item>
            <ion-label stacked>Tipo de Usuário</ion-label>
            <ion-select [(ngModel)]="filtro" (ngModelChange)='filterItems($event, true)'>
              <ion-option [value]="ADMINISTRADOR">Administrador</ion-option>
              <ion-option [value]="CLIENTE">Cliente</ion-option>
              <ion-option [value]="CAMBISTA">Cambista</ion-option>
              <ion-option [value]="GERENTE">Gerente</ion-option>
              <ion-option [value]="Todos">Todos</ion-option>
            </ion-select>
          </ion-item>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card *ngFor="let u of listaUsuarios">
    <ion-card-content style="padding: 0;">
      <ion-grid>
        <ion-row>
          <ion-col col-12>
            <ion-row class="aposta-row">
              <ion-col col-7>
                <ion-label class="labelUsuario">Nome</ion-label>
                <strong>{{u.nome}}</strong>
              </ion-col>
              <ion-col col-5>
                <ion-label class="labelUsuario">Tipo</ion-label>
                <strong>{{u.tipoUsuario}}</strong>
              </ion-col>
              <ion-col col-7>
                <ion-label class="labelUsuario">CPF</ion-label>
                <strong>{{cpf_mask(u.cpf)}}</strong>
              </ion-col>
              <ion-col col-5>
                <ion-label class="labelUsuario">Saldo</ion-label>
                <strong>{{u.conta.saldo || 0 | currency : 'BRL'}}</strong>
              </ion-col>
              <ion-col col-7>
                <ion-label class="labelUsuario">Login</ion-label>
                <strong>{{u.login}}</strong>
              </ion-col>
              <ion-col col-5 *ngIf="u.tipoUsuario != 'CLIENTE'">
                <ion-label class="labelUsuario">Limite</ion-label>
                <strong>{{u.conta.saldoLimite || 0 | currency : 'BRL'}}</strong>
              </ion-col>
              <ion-col col-5 *ngIf="u.tipoUsuario == 'GERENTE'" style="margin: auto 0;">
                <button ion-button small full (click)="showModal(u, 'CAMBISTAS_GERENTE')">Cambistas</button>
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col col-12>
            <ion-row class="aposta-row">
              <ion-col col-2 class="legendaBotoesUsuario">Editar</ion-col>
              <ion-col col-2 class="legendaBotoesUsuario" *ngIf="u.tipoUsuario == 'CAMBISTA' || u.tipoUsuario == 'GERENTE'">Caixa</ion-col>
              <ion-col col-2 class="legendaBotoesUsuario" *ngIf="u.tipoUsuario == 'CAMBISTA' || u.tipoUsuario == 'GERENTE'">Comissão</ion-col>
              <ion-col col-2 class="legendaBotoesUsuario" *ngIf="u.tipoUsuario == 'CAMBISTA' || u.tipoUsuario == 'GERENTE'">Crédito</ion-col>
              <ion-col col-2 class="legendaBotoesUsuario">R. Senha</ion-col>
              <ion-col col-2 class="legendaBotoesUsuario">Desabilitar</ion-col>
            </ion-row>
            <ion-row class="aposta-row">
              <ion-col col-2 class="botoesUsuario"><button ion-button icon-only small full (click)="showModal(u, 'INFO')"> <ion-icon name="create"></ion-icon></button></ion-col>
              <ion-col col-2 class="botoesUsuario" *ngIf="u.tipoUsuario == 'CAMBISTA' || u.tipoUsuario == 'GERENTE'"><button ion-button icon-only small full (click)="showModal(u, 'CAIXA')"> <ion-icon name="briefcase"></ion-icon></button></ion-col>
              <ion-col col-2 class="botoesUsuario" *ngIf="u.tipoUsuario == 'CAMBISTA' || u.tipoUsuario == 'GERENTE'"><button ion-button icon-only small full (click)="showModal(u, 'COMISSAO')"> <ion-icon name="cash"></ion-icon></button></ion-col>
              <ion-col col-2 class="botoesUsuario" *ngIf="u.tipoUsuario == 'CAMBISTA' || u.tipoUsuario == 'GERENTE'"><button ion-button icon-only small full (click)="showModal(u, 'CREDITO')"> <ion-icon class="fa-dollar icon-menu"></ion-icon></button></ion-col>
              <ion-col col-2 class="botoesUsuario"><button ion-button icon-only small full (click)="showAlert(u, 'RESETA_SENHA')"> <ion-icon name="key"></ion-icon></button></ion-col>
              <ion-col col-2 class="botoesUsuario"><button ion-button icon-only small full (click)="showAlert(u, 'DESABILITA_USUARIO')" [ngClass]="{'btnDisable': u.ativo == false}"> <ion-icon name="trash"></ion-icon></button></ion-col>
            </ion-row>
          </ion-col>
       </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
