page-jogo-binario {
  
  .gridTurnoSelecionado *{
    padding: 0;
    text-align: center;
  }

  .botaoTurno{
    height: 2rem !important;
    line-height: 1rem !important;
  }

  .horarioTurno *{
    display: block;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
  }

  .cardGraficos{
    margin: 0;
    width: 100%;
    margin-top: 2vh;
  }

  .cardGraficos,
  .cardGraficos ion-card-content,
  .graficos ion-col{
    padding: 0;
  }

  .graficos .pieChart{
    height: 110px !important;
    margin-top:-2vh;
  }

  .cardGraficos h1{
    text-align: center;
  }

  *{
    text-transform: uppercase;
  }

  ion-label{
    font-weight: bold !important;
    color: #000 !important;
    font-size: 1.2rem !important;
  }
}
