<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{bancaService.banca.descricaoBinario}}</ion-title>
  </ion-navbar>

  <ion-segment [(ngModel)]="tipoLista">
    <ion-segment-button value="0">
      <span>Aberto</span>
    </ion-segment-button>

    <ion-segment-button value="1">
      <span>Encerrados</span>
    </ion-segment-button>
  </ion-segment>
</ion-header>


<ion-content padding>
  
  <ion-grid class="gridTurnoSelecionado">
    <ion-row>
      <ion-col col-4 >
        <b *ngIf="this.tipoListaTurno == '0'"><ion-icon name="alarm"></ion-icon></b>
      </ion-col>
      <ion-col col-4>
        <b *ngIf="this.tipoListaTurno == '1'"><ion-icon name="alarm"></ion-icon></b>
      </ion-col>
      <ion-col col-4>
        <b *ngIf="this.tipoListaTurno == '2'"><ion-icon name="alarm"></ion-icon></b>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-segment [(ngModel)]="tipoListaTurno">
    <ion-segment-button value="0" class="botaoTurno">
      <span>{{bancaService.banca.descricaoTurnoUm}}</span>
    </ion-segment-button>

    <ion-segment-button value="1" class="botaoTurno">
      <span>{{bancaService.banca.descricaoTurnoDois}}</span>
    </ion-segment-button>

    <ion-segment-button value="2" class="botaoTurno">
      <span>{{bancaService.banca.descricaoTurnoTres}}</span>
    </ion-segment-button>
  </ion-segment>

  <ion-grid>
    <ion-row>
      <ion-col col-6 class="horarioTurno">
        <span>Início</span>
        <span>{{dataInicio | date : 'dd/MM/yyyy hh:mm'}}</span>
      </ion-col>
      <ion-col col-6 class="horarioTurno">
        <span>Fim</span>
        <span>{{dataFim | date : 'dd/MM/yyyy hh:mm'}}</span>
      </ion-col>
    </ion-row>

  <ion-card class="cardGraficos">
    <ion-card-content>
      <ion-grid>
        <ion-row class="graficos">
          <ion-col col-12>
            <canvas #barCanvas></canvas>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-12 style="text-align: center; font-weight: bold;">
            <span>Tempo Encerramento</span>
            <h1>{{timerExibir}}</h1>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-row style="font-weight: bold;">
    <ion-col col-5>
      <ion-item>
        <ion-label stacked>Valor da Aposta</ion-label>
        <ion-input type="number" [(ngModel)]="valor" (ionChange)="valorPossivelRetorno = valor * cotacaoEscolhida"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col offset-2 col-5 style="text-align: center;">
      <ion-label stacked>Possível Retorno</ion-label>
      <span>{{valorPossivelRetorno || 0 | currency : 'BRL' : 'symbol'}}</span>
    </ion-col>
    <ion-col col-12>
      <ion-item>
        <ion-label stacked>Nome do Cliente</ion-label>
        <ion-input type="text" [(ngModel)]="nomeCliente" ></ion-input>
      </ion-item>
    </ion-col>
    <ion-col col-12>
      <ion-item>
        <ion-label stacked>Lado Escolhido</ion-label>
        <ion-input type="text" [(ngModel)]="ladoEscolhido" [readonly]="true"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row style="margin-top: 1vh"> 
    <ion-col col-6>
      <button color="verde" ion-button block full default (click)="escolhe('palmeiras')" [disabled]="ladoEscolhido == 'palmeiras'">Palmeiras <br/> {{cotacaoVerde}}</button>
    </ion-col>
    <ion-col col-6>
      <button color="vermelho" ion-button block full default (click)="escolhe('flamengo')" [disabled]="ladoEscolhido == 'flamengo'">Flamengo <br/> {{cotacaoVermelho}}</button>
    </ion-col>
  </ion-row>

</ion-grid>


</ion-content>

<ion-footer>
  <button color="secondary" ion-button block full large [disabled]="ladoEscolhido == ''">Finalizar</button>
</ion-footer>
