<ion-header>

  <ion-navbar>
    <ion-buttons start>
      <button ion-button (click)="dismiss()" color="light">Voltar</button>
    </ion-buttons>
    <ion-title>Vencedores</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list *ngIf="listaBilhetesVencedores && listaBilhetesVencedores.length > 0">
    <ion-card *ngFor="let bilheteVencedor of listaBilhetesVencedores">
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col col-2 style="margin: auto;">
              <i><img src="assets/imgs/trofeu-ativo.png" width="16px"/></i>
            </ion-col>
            <ion-col col-10>
              <ion-row>
                <ion-col col-9 class="colunaVencedor">
                  <span style="font-size: 11px;">Vencedor</span>
                  <span style="font-size: 14px;">{{bilheteVencedor.clienteNome}}</span>
                </ion-col>
                <ion-col col-3 class="colunaVencedor" *ngIf="bilheteVencedor.bolao && bilheteVencedor.bolao.tipoBolao == 'BOLAO'">
                  <span style="font-size: 11px;">Pontos</span>
                  <span style="font-size: 14px;">{{bilheteVencedor.pontosBolao}}</span>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-9 class="idBilhete">
                  <span style="font-size: 10px;">Colaborador</span>
                  <span style="font-size: 11px;">{{bilheteVencedor.usuario?.nome}}</span>
                </ion-col>
                <ion-col col-3 class="idBilhete">
                  <span style="font-size: 10px;">Código</span>
                  <span style="font-size: 11px;">{{bilheteVencedor.id}}</span>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </ion-list>

</ion-content>
