page-extrato {
    .extrato-ano{
        background-color: #ddd;
        margin-top: 10px;
    }

    .extrato-entrada{
        color: color($colors,dinheiro,base);
        font-size: 1.2rem
    }

    .extrato-saida{
        color: color($colors,danger,base);
        font-size: 1.2rem
    }

    .extrato-bilhete{
        color: color($colors,primary,base);
        font-size: 1.2rem
    }

    .row{
        margin-top: 3px;
        margin-bottom: 3px;
    }
}
