<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Jodos do Dia</ion-title>
  </ion-navbar>
  <div style="background-color: #446376;" *ngIf="!this.us.usuario.id">
    <ion-grid>
      <ion-row>
        <ion-col col-12><button ion-button full color="secondary" (click)="toLogin()">Entrar</button></ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-header>


<ion-content padding>
  <ion-card *ngIf="competicoesPojo.length == 0">
    <ion-card-content>
      <h4>Não há partidas neste momento para esta competição.</h4>
    </ion-card-content>
  </ion-card>

  <ion-item ion-item *ngFor="let competicaoPojo of competicoesPojo" >
      <button ion-item (click)="competicaoPojo.ativo = !competicaoPojo.ativo;" >
        <ion-item text-wrap >
          <span [class]="competicaoPojo.ativo ? 'competicaoAtiva' : '' "><i class="iconeCompeticao {{competicaoPojo.competicao.tipoCompeticao}}"></i> {{competicaoPojo.competicao.descricao}} - {{competicaoPojo.tipoCompeticao}}</span>
        </ion-item>
      </button>
      <ion-grid *ngIf="competicaoPojo.ativo">
        <ion-row [class]="competicaoPojo.ativo ? 'gridAtivo' : '' ">
          <ion-col col-12>
            <ion-card *ngFor="let partida of competicaoPojo.listaPartidas" style="padding: 0; margin-top: 0;">
              <ion-card-content style="padding: 0 3px;">
                <ion-grid style="padding: 0;">
                    <ion-row>
                      <ion-col col-5>
                        <ion-row>
                          <ion-col col-12 class="aovivo-title">{{partida.timeCasa}}</ion-col>
                          <ion-col col-12 class="aovivo-title">{{partida.timeFora}}</ion-col>
                          <ion-col col-12 class="aovivo-subtitle">{{partida.dataFormatadaString}}</ion-col>
                        </ion-row>
                      </ion-col>
                      <ion-col col-7 style="padding: 9px 0px;">
                        <ion-row>
                          <ion-col col-3 style="padding: 0 2px; font-size: 12px; text-align: center">Casa</ion-col>
                          <ion-col col-3 style="padding: 0 2px; font-size: 12px; text-align: center">Empate</ion-col>
                          <ion-col col-3 style="padding: 0 2px; font-size: 12px; text-align: center">Fora</ion-col>
                          <ion-col col-3 style="padding: 0 2px; font-size: 12px; text-align: center">Mais</ion-col>
                        </ion-row>
                        <ion-row>
                          <ion-col col-3 style="padding: 0 2px;"><button ion-button style="width: 100%; padding: 2px; font-size: 12px" (click)="adicionarPartida(partida,0)" [color]="buttonStyle(partida,0)">{{partida.cotacaoTimeCasa}}</button></ion-col>
                          <ion-col col-3 style="padding: 0 2px;"><button ion-button style="width: 100%; padding: 2px; font-size: 12px" (click)="adicionarPartida(partida,1)" [color]="buttonStyle(partida,1)">{{partida.cotacaoEmpate}}</button></ion-col>
                          <ion-col col-3 style="padding: 0 2px;"><button ion-button style="width: 100%; padding: 2px; font-size: 12px" (click)="adicionarPartida(partida,2)" [color]="buttonStyle(partida,2)">{{partida.cotacaoTimeFora}}</button></ion-col>
                          <ion-col col-3 style="padding: 0 2px;"><button ion-button style="width: 100%; padding: 2px; font-size: 12px" (click)="carregaMaisOpcoes(partida)"  [color]="buttonStyle(partida,10)">+{{partida.quantidadeOpcoes}}</button></ion-col>
                        </ion-row>
                      </ion-col>
                    </ion-row>
                </ion-grid>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
  </ion-item>
</ion-content>

<ion-footer class="resumo" *ngIf="bs.getBilhete().listaApostas.length > 0" (click)="toBilhete()">
  <ion-grid style="padding: 0;">
    <ion-row class="resumoAposta">
      <ion-col col-3 style="margin-top: 9px;">Resumo</ion-col>
      <ion-col col-3 class="colunaResumo">{{bs.getBilhete().listaApostas.length}}<br/>Jogos</ion-col>
      <ion-col col-3 offset-1 class="colunaResumo">{{bs.getBilhete().valorPossivelRetorno || 0 | currency : 'BRL' : 'symbol'}}<br/>Retorno</ion-col>
      <ion-col col-2 style="text-align: center;"><ion-icon name="arrow-dropup" style="font-size: 24px; margin-top: 2px;"></ion-icon></ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
