<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title hideWhen="core">Scobet's</ion-title>
  </ion-navbar>
  <div style="background-color: rgb(255, 255, 255);" *ngIf="!this.us.usuario.id">
    <ion-grid>
      <ion-row>
        <ion-col col-6><button ion-button full style="background-color: #2f7b07" (click)="toCadastro()">Cadastre-se</button></ion-col>
        <ion-col col-6><button ion-button full color="secondary" (click)="toLogin()">Entrar</button></ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-header>

<ion-content class="background-{{esporteExibir}}">
  <ion-card *ngIf="atualizando">
    <ion-card-content>
      <h4>Atualizando partidas, aguarde...</h4>
    </ion-card-content>
  </ion-card>

  <ion-segment [(ngModel)]="tipoLista" scrollable="true" *ngIf="esporteExibir == 'Futebol'">
    <ion-segment-button value="0" (click)="destaquesDoDia()" class="centered">
      <span>Hoje</span>
    </ion-segment-button>

    <ion-segment-button value="1" class="centered">
      <span>Regiões</span>
    </ion-segment-button>

    <ion-segment-button value="2" (click)="todosOsJogos()" class="centered">
      <span>Jogos</span>
    </ion-segment-button>

    <ion-segment-button value="3" (click)="jogosMelhoresCotacoes()">
      <span>Melhores Cotações</span>
    </ion-segment-button>
  </ion-segment>

  <!-- Destaques do Dia -->
  <ion-list class="listaDestaques" *ngIf="tipoLista == 0">
    <!-- <ion-slides pager="false" class="slideDestaques" *ngIf="esporteExibir == 'Futebol'">
      <ion-slide *ngFor="let partida of partidasDestaqueCotacoes">
        <ion-card>
          <ion-card-header style="text-align: left; padding: 5px;">
            <span style="color: #446376;">{{partida.competicao.descricao + ' - ' + funcoesUtil.toCamelCase(partida.competicao.tipoCompeticao)}}</span>
          </ion-card-header>
          <ion-card-content style="padding: 0;">
            <ion-grid style="padding: 0;">
              <ion-row>
                <ion-col col-5 style="text-align: right;font-size: 12px;">
                  <b>{{partida.timeCasa}}</b>
                </ion-col>
                <ion-col col-1 style="padding: 0; margin: auto;"><ion-icon name="star" style="font-size: 25px;"></ion-icon></ion-col>
                <ion-col col-1 style="padding: 0; margin: auto;"><ion-icon name="star" style="font-size: 25px;"></ion-icon></ion-col>
                <ion-col col-5 style="text-align: left; font-size: 12px;">
                  <b>{{partida.timeFora}}</b>
                </ion-col>
              </ion-row>
              <ion-row class="rowButtons">
                <ion-col>
                  <ion-row>
                    <ion-col col-4 style="padding: 0 2px; font-size: 12px; text-align: center">Casa</ion-col>
                    <ion-col col-4 style="padding: 0 2px; font-size: 12px; text-align: center">Empate</ion-col>
                    <ion-col col-4 style="padding: 0 2px; font-size: 12px; text-align: center">Fora</ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col col-4 style="padding: 0 2px;"><button ion-button style="width: 100%; padding: 2px; font-size: 12px" (click)="adicionarPartida(partida,0)" [color]="buttonStyle(partida,0)">{{partida.cotacaoTimeCasa | number : '1.2'}}</button></ion-col>
                    <ion-col col-4 style="padding: 0 2px;"><button ion-button style="width: 100%; padding: 2px; font-size: 12px" (click)="adicionarPartida(partida,1)" [color]="buttonStyle(partida,1)">{{partida.cotacaoEmpate | number : '1.2'}}</button></ion-col>
                    <ion-col col-4 style="padding: 0 2px;"><button ion-button style="width: 100%; padding: 2px; font-size: 12px" (click)="adicionarPartida(partida,2)" [color]="buttonStyle(partida,2)">{{partida.cotacaoTimeFora | number : '1.2'}}</button></ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides> -->
      <ion-label class="esporte-title"><i class="iconeCompeticao {{esporteExibir}}"></i>{{esporteExibir}} - Jogos do Dia</ion-label>

      <ion-item ion-item *ngFor="let competicaoPojo of competicoesDestaqueDia" >
          <button ion-item (click)="competicaoPojo.ativo = !competicaoPojo.ativo;" >
            <ion-item text-wrap style="font-weight:bold !important" >
              <span  [class]="competicaoPojo.ativo ? 'competicaoAtiva' : '' "><i class="iconeCompeticao {{competicaoPojo.competicao.regiao.descricao}}"></i> {{competicaoPojo.competicao.descricao}}</span>
            </ion-item>
          </button>
          <ion-grid *ngIf="competicaoPojo.ativo">
            <ion-row [class]="competicaoPojo.ativo ? 'gridAtivo' : '' ">
              <ion-col col-12>
                <ion-card *ngFor="let partida of competicaoPojo.listaPartidas; let last = last; let first = first;" style="padding: 0; margin-top: 0;" [ngClass]="{'ultimoJogo': last, 'primeiroJogo': first}">
                  <ion-card-content style="padding: 0 3px;">
                    <ion-grid style="padding: 0;">
                        <ion-row>
                          <ion-col col-5>
                            <ion-row>
                              <ion-col col-12 class="aovivo-title">{{partida.timeCasa}}</ion-col>
                              <ion-col col-12 class="aovivo-title">{{partida.timeFora}}</ion-col>
                              <ion-col col-12 class="aovivo-subtitle">{{partida.dataFormatadaString}}</ion-col>
                            </ion-row>
                          </ion-col>
                          <ion-col col-7 style="padding: 9px 0px;">
                            <ion-row>
                              <ion-col col-3 style="padding: 0 2px; font-size: 12px; text-align: center">Casa</ion-col>
                              <ion-col col-3 style="padding: 0 2px; font-size: 12px; text-align: center">Empate</ion-col>
                              <ion-col col-3 style="padding: 0 2px; font-size: 12px; text-align: center">Fora</ion-col>
                              <ion-col col-3 style="padding: 0 2px; font-size: 12px; text-align: center">Mais</ion-col>
                            </ion-row>
                            <ion-row>
                              <ion-col col-3 style="padding: 0 2px;"><button ion-button style="width: 100%; padding: 2px; font-size: 12px" (click)="adicionarPartida(partida,0)" [color]="buttonStyle(partida,0)">{{partida.cotacaoTimeCasa}}</button></ion-col>
                              <ion-col col-3 style="padding: 0 2px;"><button ion-button style="width: 100%; padding: 2px; font-size: 12px" (click)="adicionarPartida(partida,1)" [color]="buttonStyle(partida,1)">{{partida.cotacaoEmpate}}</button></ion-col>
                              <ion-col col-3 style="padding: 0 2px;"><button ion-button style="width: 100%; padding: 2px; font-size: 12px" (click)="adicionarPartida(partida,2)" [color]="buttonStyle(partida,2)">{{partida.cotacaoTimeFora}}</button></ion-col>
                              <ion-col col-3 style="padding: 0 2px;"><button ion-button style="width: 100%; padding: 2px; font-size: 12px" (click)="carregaMaisOpcoes(partida)"  [color]="buttonStyle(partida,10)">+{{partida.quantidadeOpcoes}}</button></ion-col>
                            </ion-row>
                          </ion-col>
                        </ion-row>
                    </ion-grid>
                  </ion-card-content>
                </ion-card>
              </ion-col>
            </ion-row>
          </ion-grid>
      </ion-item>
  </ion-list>

  <!-- Regiões -->
  <ion-list class="listaRegioes" inset style="margin: 0; padding: 15px;" *ngIf="tipoLista == 1">
    <ion-label class="esporte-title"><i class="iconeCompeticao {{esporteExibir}}"></i>{{esporteExibir}} - Regiões</ion-label>

    <ion-card style="padding: 0; width: 100%" *ngIf="competicoesJogosDoDia?.length > 0">
      <ion-card-content style="padding: 0px;">
        <ion-grid style="padding: 0;">
          <ion-row>
            <ion-col style="background-color: #dbe0e4" class="aposta-title"  (click)="visibleJogos_do_dia = !visibleJogos_do_dia">
              <i class="iconeCompeticao JOGOS_DO_DIA"></i>
              JOGOS DO DIA
              <ion-icon name="{{visibleJogos_do_dia ? 'arrow-dropup' : 'arrow-dropdown'}}" style="float: right"></ion-icon>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="visibleJogos_do_dia">
            <button ion-item *ngFor="let competicao of competicoesJogosDoDia" (click)="selecionaCompeticao(competicao)">
              {{competicao.descricao}}
            </button>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

    <ion-card style="padding: 0; width: 100%" *ngFor="let regiao of regioes">
      <ion-card-content style="padding: 0px;">
        <ion-grid style="padding: 0;">
          <ion-row>
            <ion-col style="background-color: #dbe0e4" class="aposta-title" (click)="regiao.competicoesVisible = !regiao.competicoesVisible">
              <img class="iconeRegiao" [src]="competicaoService.getImagemRegiao(regiao.descricao)"/>
              {{regiao.descricao}}
              <ion-icon name="{{regiao.competicoesVisible ? 'arrow-dropup' : 'arrow-dropdown'}}" style="float: right"></ion-icon>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="regiao.competicoesVisible">
            <button ion-item *ngFor="let competicao of regiao.competicoes" (click)="selecionaCompeticao(competicao)">
              {{competicao.descricao}}
            </button>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

    <ion-label class="aposta-title" *ngIf="competicaoTenisATP?.length > 0"><i class="iconeCompeticao MUNDO"></i>ATP</ion-label>
    <button ion-item *ngFor="let competicao of competicaoTenisATP" (click)="selecionaCompeticao(competicao)">
      {{competicao.descricao}}
    </button>

    <ion-label class="aposta-title" *ngIf="competicaoTenisWTA?.length > 0"><i class="iconeCompeticao MUNDO"></i>WTA</ion-label>
    <button ion-item *ngFor="let competicao of competicaoTenisWTA" (click)="selecionaCompeticao(competicao)">
      {{competicao.descricao}}
    </button>

    <ion-label class="aposta-title" *ngIf="competicaoTenisCOPA_DAVIS?.length > 0"><i class="iconeCompeticao MUNDO"></i>COPA_DAVIS</ion-label>
    <button ion-item *ngFor="let competicao of competicaoTenisCOPA_DAVIS" (click)="selecionaCompeticao(competicao)">
      {{competicao.descricao}}
    </button>

    <ion-label class="aposta-title" *ngIf="competicaoTenisFED_CUP?.length > 0"><i class="iconeCompeticao MUNDO"></i>FED_CUP</ion-label>
    <button ion-item *ngFor="let competicao of competicaoTenisFED_CUP" (click)="selecionaCompeticao(competicao)">
      {{competicao.descricao}}
    </button>

    <ion-label class="aposta-title" *ngIf="competicaoTenisITF_MEN?.length > 0"><i class="iconeCompeticao MUNDO"></i>ITF_MEN</ion-label>
    <button ion-item *ngFor="let competicao of competicaoTenisITF_MEN" (click)="selecionaCompeticao(competicao)">
      {{competicao.descricao}}
    </button>

    <ion-label class="aposta-title" *ngIf="competicaoTenisITF_WOMEN?.length > 0"><i class="iconeCompeticao MUNDO"></i>ITF_WOMEN</ion-label>
    <button ion-item *ngFor="let competicao of competicaoTenisITF_WOMEN" (click)="selecionaCompeticao(competicao)">
      {{competicao.descricao}}
    </button>

    <ion-label class="aposta-title" *ngIf="competicaoTenisCHALLENGER?.length > 0"><i class="iconeCompeticao MUNDO"></i>CHALLENGER</ion-label>
    <button ion-item *ngFor="let competicao of competicaoTenisCHALLENGER" (click)="selecionaCompeticao(competicao)">
      {{competicao.descricao}}
    </button>

    <ion-label class="aposta-title" *ngIf="competicoesCombateMundo?.length > 0"><i class="iconeCompeticao MUNDO"></i>MUNDO</ion-label>
    <button ion-item *ngFor="let competicao of competicoesCombateMundo" (click)="selecionaCompeticao(competicao)">
      {{competicao.descricao}}
    </button>
  </ion-list>

  <!-- Todas os Jogos -->
  <ion-list *ngIf="tipoLista == 2" class="listaTodasAsPartidas">
    <ion-label class="esporte-title"><i class="iconeCompeticao {{esporteExibir}}"></i>{{esporteExibir}} - Todas os Jogos</ion-label>

    <ion-card *ngFor="let partida of todasAsPartidas; let last = last; let first = first;" style="padding: 0;">
      <ion-card-content style="padding: 0 3px;">
        <ion-grid style="padding: 0;">
            <ion-row>
              <ion-col col-5>
                <ion-row>
                  <ion-col col-12 class="aovivo-title">{{partida.timeCasa}}</ion-col>
                  <ion-col col-12 class="aovivo-title">{{partida.timeFora}}</ion-col>
                  <ion-col col-12 class="aovivo-subtitle">{{partida.dataFormatadaString}}</ion-col>
                </ion-row>
              </ion-col>
              <ion-col col-7 style="padding: 9px 0px;">
                <ion-row>
                  <ion-col col-3 style="padding: 0 2px; font-size: 12px; text-align: center">Casa</ion-col>
                  <ion-col col-3 style="padding: 0 2px; font-size: 12px; text-align: center">Empate</ion-col>
                  <ion-col col-3 style="padding: 0 2px; font-size: 12px; text-align: center">Fora</ion-col>
                  <ion-col col-3 style="padding: 0 2px; font-size: 12px; text-align: center">Mais</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-3 style="padding: 0 2px;"><button ion-button style="width: 100%; padding: 2px; font-size: 12px" (click)="adicionarPartida(partida,0)" [color]="buttonStyle(partida,0)">{{partida.cotacaoTimeCasa}}</button></ion-col>
                  <ion-col col-3 style="padding: 0 2px;"><button ion-button style="width: 100%; padding: 2px; font-size: 12px" (click)="adicionarPartida(partida,1)" [color]="buttonStyle(partida,1)">{{partida.cotacaoEmpate}}</button></ion-col>
                  <ion-col col-3 style="padding: 0 2px;"><button ion-button style="width: 100%; padding: 2px; font-size: 12px" (click)="adicionarPartida(partida,2)" [color]="buttonStyle(partida,2)">{{partida.cotacaoTimeFora}}</button></ion-col>
                  <ion-col col-3 style="padding: 0 2px;"><button ion-button style="width: 100%; padding: 2px; font-size: 12px" (click)="carregaMaisOpcoes(partida)"  [color]="buttonStyle(partida,10)">+{{partida.quantidadeOpcoes}}</button></ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </ion-list>

  <!-- Melhores Cotações -->
  <ion-list *ngIf="tipoLista == 3" class="listaTodasAsPartidas">
    <ion-label class="esporte-title"><i class="iconeCompeticao {{esporteExibir}}"></i>{{esporteExibir}} - Melhores Cotações</ion-label>

    <ion-card *ngFor="let partida of listaJogosMelhorCotacao; let last = last; let first = first;" style="padding: 0;">
      <ion-card-content style="padding: 0 3px;">
        <ion-grid style="padding: 0;">
            <ion-row>
              <ion-col col-5>
                <ion-row>
                  <ion-col col-12 class="aovivo-title">{{partida.timeCasa}}</ion-col>
                  <ion-col col-12 class="aovivo-title">{{partida.timeFora}}</ion-col>
                  <ion-col col-12 class="aovivo-subtitle">{{partida.dataFormatadaString}}</ion-col>
                </ion-row>
              </ion-col>
              <ion-col col-7 style="padding: 9px 0px;">
                <ion-row>
                  <ion-col col-3 style="padding: 0 2px; font-size: 12px; text-align: center">Casa</ion-col>
                  <ion-col col-3 style="padding: 0 2px; font-size: 12px; text-align: center">Empate</ion-col>
                  <ion-col col-3 style="padding: 0 2px; font-size: 12px; text-align: center">Fora</ion-col>
                  <ion-col col-3 style="padding: 0 2px; font-size: 12px; text-align: center">Mais</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-3 style="padding: 0 2px;"><button ion-button style="width: 100%; padding: 2px; font-size: 12px" (click)="adicionarPartida(partida,0)" [color]="buttonStyle(partida,0)">{{partida.cotacaoTimeCasa}}</button></ion-col>
                  <ion-col col-3 style="padding: 0 2px;"><button ion-button style="width: 100%; padding: 2px; font-size: 12px" (click)="adicionarPartida(partida,1)" [color]="buttonStyle(partida,1)">{{partida.cotacaoEmpate}}</button></ion-col>
                  <ion-col col-3 style="padding: 0 2px;"><button ion-button style="width: 100%; padding: 2px; font-size: 12px" (click)="adicionarPartida(partida,2)" [color]="buttonStyle(partida,2)">{{partida.cotacaoTimeFora}}</button></ion-col>
                  <ion-col col-3 style="padding: 0 2px;"><button ion-button style="width: 100%; padding: 2px; font-size: 12px" (click)="carregaMaisOpcoes(partida)"  [color]="buttonStyle(partida,10)">+{{partida.quantidadeOpcoes}}</button></ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>

<ion-footer class="resumo" *ngIf="bs.getBilhete().listaApostas.length > 0" (click)="toBilhete()">
  <ion-grid style="padding: 0;">
    <ion-row class="resumoAposta">
      <ion-col col-3 style="margin-top: 9px;">Resumo</ion-col>
      <ion-col col-3 class="colunaResumo">{{bs.getBilhete().listaApostas.length}}<br/>Jogos</ion-col>
      <ion-col col-3 offset-1 class="colunaResumo">{{bs.getBilhete().valorPossivelRetorno || 0 | currency : 'BRL' : 'symbol'}}<br/>Retorno</ion-col>
      <ion-col col-2 style="text-align: center;"><ion-icon name="arrow-dropup" style="font-size: 24px; margin-top: 2px;"></ion-icon></ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
