page-transacoes {
    .extrato-ano{
        background-color: #ddd;
        margin-top: 10px;
    }

    .extrato-entrada{
        color: color($colors,dinheiro,base);
        font-size: 1.2rem
    }

    .extrato-saida{
        color: color($colors,danger,base);
        font-size: 1.2rem
    }

    .extrato-bilhete{
        color: #2795ff;
        font-size: 1.2rem
    }

    .extrato-cambista{
        color: #ffc107;
        font-size: 1.2rem;
    }

    .extrato-grid>.row{
        margin-top: 3px;
        margin-bottom: 3px;
        border-bottom: 1px solid #cccccc;
    }
}
