page-ranking-personalizado {
  ion-header{
    background-color: color($colors, primary, base);
  }

  ion-title{
    margin-left: 28%;
  }

  .segment-button{
    color: #fff !important;
    border-color: #fff !important;
  }

  ion-segment-button.segment-platinum.segment-activated{
    color: #4a878f !important;
    border-color: #4a878f !important;
  }

  ion-segment-button.segment-ouro.segment-activated{
    color: #ffc600 !important;
    border-color: #ffc600 !important;
  }

  ion-segment-button.segment-prata.segment-activated{
    color: #6c6c6c !important;
    border-color: #6c6c6c !important;
  }

  ion-segment-button.segment-bronze.segment-activated{
    color: #473c32 !important;
    border-color: #473c32 !important;
  }

  .linha{
      display: flex;
      justify-content: space-between;
  }

  .posicao{
      width: 55px;
      min-height: 50px;
      background-color: #f3f3f3;
      margin-top: 5px;
      margin-bottom: 5px;
      padding-top: 16px;
      font-size: 1.1em;
      text-align: center;
      font-weight: bold;

      -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }

  .posicaoBranco{
      width: 55px;
      background-color: transparent;
      margin-top: 5px;
      margin-bottom: 5px;
  }

  .descricao{
      border: 1px solid #DDD;
      min-height: 50px;
      font-weight: bold;
      background-color: #f3f3f3;

      -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }

  .descricao>.col{
      margin:auto;
  }

  .posicao1{
      background-image: url("../assets/imgs/coroa-romana.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
  }

  .estrela-img b{
      display: inline-block;
      width: 79%;
  }

  .estrela-img img{
      width: 35px;
  }
}
