<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Todos os Bilhetes</ion-title>
    </ion-navbar>
  </ion-header>

  <ion-content>
    <ion-card>
      <ion-card-content style="padding: 0;">
        <ion-grid class="legendas">
          <ion-row>
            <ion-col col-1 class="legenda verde">&nbsp;</ion-col>
            <ion-col col-3>Vencedor</ion-col>
            <ion-col col-1 class="legenda azul">&nbsp;</ion-col>
            <ion-col col-3>Cancelado</ion-col>
            <ion-col col-1 class="legenda vermelho">&nbsp;</ion-col>
            <ion-col col-3>Perdedor</ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-content style="padding: 0;">
        <ion-grid style="padding-top: 0; padding-bottom: 0;">
          <ion-row>
            <ion-item col-5>
              <ion-label stacked>Data Inicial</ion-label>
              <ion-datetime color="primary" displayFormat="DD/MM/YYYY" [(ngModel)]="dataInicial" name="dataInicial" placeholder="__/__/____" style="padding: 5px 0px"></ion-datetime>
            </ion-item>

            <ion-item col-5>
              <ion-label stacked>Data Final</ion-label>
              <ion-datetime color="primary" displayFormat="DD/MM/YYYY" [(ngModel)]="dataFinal" name="dataFinal" placeholder="__/__/____" style="padding: 5px 0px"></ion-datetime>
            </ion-item>

            <button ion-button icon-only small outline style="margin: auto; font-size: 17px; color: #5b5b5b; border: none;" (click)="buscarTodosBilhetes(dataInicial, dataFinal)"><ion-icon name="search"></ion-icon></button>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

    <ion-searchbar placeholder="Nome do Cambista ou Gerente" (ionInput)="filterItems($event)"></ion-searchbar>

    <ion-card>
      <ion-card-content style="padding: 0;">
        <ion-grid style="padding-top: 0; padding-bottom: 0;">
          <ion-row>
            <ion-item>
              <ion-label stacked>Tipo de Bilhete</ion-label>
              <ion-select [(ngModel)]="filtroTipo" (ngModelChange)='filterItems($event, true)'>
                <ion-option [value]="BILHETE_VENCEDOR">Vencedor</ion-option>
                <ion-option [value]="BILHETE_PERDEDEDOR">Perdedor</ion-option>
                <ion-option [value]="BILHETE_CANCELADO">Cancelado</ion-option>
                <ion-option [value]="Todos">Todos</ion-option>
              </ion-select>
            </ion-item>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

    <ion-card *ngFor="let b of bilhetes">
      <ion-row>
        <ion-col col-12 class="{{bs.tipoBilhete(b, true)}}">{{bs.tipoBilhete(b)}}</ion-col>
      </ion-row>
      <ion-card-header>
        <ion-grid style="padding-right: 0;">
          <ion-row >
            <ion-col col-9>
              {{b.dataFormatada}}
              <br />
              <span class="partida-subtitle" style="text-transform: uppercase">{{b.numeroBilhete}}</span>
            </ion-col>
            <ion-col col-3 style="padding-right: 0;" showWhen="ios, android">
              <button ion-button icon-only (click)="printBilhete(b)" style="float: right;"><ion-icon name="print"></ion-icon></button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row class="aposta-row">
            <ion-col col-5 class="aposta-title">Tipo</ion-col>
            <ion-col col-7 class="aposta-description">{{bs.tipoPartidaBilhete(b.tipoPartida)}}</ion-col>
          </ion-row>
          <ion-row class="aposta-row" *ngIf="b.bolao && b.bolao.tipoBolao == 'BOLAO'">
            <ion-col col-5 class="aposta-title">Pontos Bolão</ion-col>
            <ion-col col-7 class="aposta-description">{{b.pontosBolao || 0}}</ion-col>
          </ion-row>
          <ion-row class="aposta-row">
            <ion-col col-5 class="aposta-title">Vendedor</ion-col>
            <ion-col col-7 class="aposta-description">{{b.usuario?.nome}}</ion-col>
          </ion-row>
          <ion-row class="aposta-row">
            <ion-col col-5 class="aposta-title">Cliente</ion-col>
            <ion-col col-7 class="aposta-description">{{b.clienteNome}}</ion-col>
          </ion-row>
          <ion-row class="aposta-row">
            <ion-col col-5 class="aposta-title">Código</ion-col>
            <ion-col col-7 class="aposta-description">{{b.id}}</ion-col>
          </ion-row>
          <ion-row class="aposta-row">
            <ion-col col-5 class="aposta-title">Status</ion-col>
            <ion-col col-7 class="aposta-description">{{statusFormatado(b)}}</ion-col>
          </ion-row>
          <ion-row class="aposta-row">
            <ion-col col-5 class="aposta-title">Valor</ion-col>
            <ion-col col-7 class="aposta-description">{{b.valor||0 | currency : 'BRL' : 'symbol'}}</ion-col>
          </ion-row>
          <ion-row class="aposta-row" *ngIf="b.bolao">
            <ion-col col-5 class="aposta-title">{{b.bolao.tipoBolao == 'BOLAO' ? 'Bolão' : 'Acumuladão'}}</ion-col>
            <ion-col col-7 class="aposta-description">{{b.bolao.titulo}}</ion-col>
          </ion-row>
          <ion-row class="aposta-row">
            <ion-col col-5 class="aposta-title">{{b.bolao && b.bolao.premioMultiplo ? "Primeiro Prêmio" : "Possível Retorno"}}</ion-col>
            <ion-col col-7 class="aposta-description">{{b.valorPossivelRetorno||0 | currency : 'BRL' : 'symbol'}}</ion-col>
          </ion-row>
          <ion-row class="aposta-row" *ngIf="b.valorPremioDois && b.valorPremioDois > 0">
            <ion-col col-5 class="aposta-title">Segundo Prêmio</ion-col>
            <ion-col col-7 class="aposta-description">{{b.valorPremioDois || 0 | currency : 'BRL' : 'symbol'}}</ion-col>
          </ion-row>
          <ion-row class="aposta-row" *ngIf="b.valorPremioTres && b.valorPremioTres > 0">
            <ion-col col-5 class="aposta-title">Terceiro Prêmio</ion-col>
            <ion-col col-7 class="aposta-description">{{b.valorPremioTres || 0 | currency : 'BRL' : 'symbol'}}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-8 *ngIf="b.statusBilhete != 'FINALIZADO'">
              <button ion-button (click)="verApostas(b)" icon-left color="primary" class="aposta-button">
                <ion-icon class="fa-ticket icon-menu"></ion-icon> Ver apostas </button>
            </ion-col>
            <ion-col col-10 *ngIf="b.statusBilhete == 'FINALIZADO'">
              <button ion-button (click)="verApostas(b)" icon-left color="primary" class="aposta-button">
                <ion-icon class="fa-ticket icon-menu"></ion-icon> Ver apostas </button>
            </ion-col>
            <ion-col col-2>
              <button ion-button (click)="imprimirBilhete(b)" icon-left color="primary" class="aposta-button" icon-only>
                <ion-icon name="share"></ion-icon>
              </button>
            </ion-col>
            <ion-col col-2>
              <button ion-button (click)="cancelarBilhete(b)" icon-left color="danger" class="aposta-button" *ngIf="b.statusBilhete != 'FINALIZADO' && b.statusBilhete != 'CANCELADO'" icon-only>
                <ion-icon name="close"></ion-icon>
              </button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>


  </ion-content>
