page-bolao {
  ion-list ion-card-content{
    padding: 0 !important;
  }

  .rowTop{
    font-weight: bold;
  }

  .rowTop ion-col[col-8]{
    color: color($colors, primary, base);
  }

  .rowBottom{
    font-size: 12px;
  }

  ion-col[col-10]{
    padding: 0;
  }

  .botaoPalpites{
    background-color: #1976d2;
  }
  
  .botaoVencedores{
    background-color: #ffc107;
    color: #000;
  }
}
