page-transacao {
    .item{
        padding-left: 0px;
    }

    .grid{
        padding: 0px;
    }

    .col{
        padding: 0px 0px 5px 0px;
    }
    
  .bradesco-img{
    content:url("../assets/imgs/bradesco.png");
   }

    .instrucaoStep{
      color: color($colors, secondary, base);
      border: solid 2px;
      text-align: center;
      border-radius: 20px;
      width: 30px;
      height: 30px;
      display: block;
      margin: 3px auto 0;
    }

    .instrucaoStep b{
      position: relative;
      top: 4px;
    }

    .instrucaoText{
      text-align: justify;
      -webkit-margin-before: 0em;
      -webkit-margin-after: 0.2em;
    }

    h5{
      color: color($colors, secondary, base);
      padding-left: 12px;
    }

    .depositoPendente{
      background-color: #fffac3;
      padding: 10px;
      margin-bottom: 10px;
    }
    .depositoRemover{
      background-color: transparent;
      -webkit-box-shadow: none;
      box-shadow: none;
      color: #2f4050;
      float: right;
    }
}
