<ion-header>

  <ion-navbar>
    <ion-buttons start>
      <button ion-button (click)="voltar()" color="botaoVoltar">Voltar</button>
    </ion-buttons>
    <ion-title>Cadastro de {{!escolheTipo ? 'Cambista' : 'Usuário'}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form (ngSubmit)="clickCadastrar($event); $event.preventDefault()" id="formCadastro">
    <ion-grid>
      <ion-row>
        <ion-col col-12>
          <ion-item>
            <ion-label color="primary" stacked>Login</ion-label>
            <ion-input color="primary" type="email" [(ngModel)]="usuario.login" name="cadastroLogin" (ionBlur)="verificaLogin()" (ionChange)="existeLogin = false"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-12 class="danger" *ngIf="existeLogin && (usuario.login != undefined && usuario.login.length > 0)">
          <ion-icon name="warning"></ion-icon> Login já existente
        </ion-col>
        <ion-col col-12>
          <ion-item>
            <ion-label color="primary" stacked>Nome</ion-label>
            <ion-input color="primary" type="text" [(ngModel)]="usuario.nome" name="cadastroNome"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12 *ngIf="escolheTipo">
          <ion-item>
            <ion-label color="primary" stacked>Tipo do Usuário</ion-label>
            <ion-select [(ngModel)]="usuario.tipoUsuario" placeholder="Selecione..." interface="action-sheet" name="tipoUsuario">
              <ion-option value="CLIENTE">Cliente</ion-option>
              <ion-option value="GERENTE">Gerente</ion-option>
              <ion-option value="CAMBISTA">Cambista</ion-option>
              <ion-option value="ADMINISTRADOR">Administrador</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>

        <ion-item class="checkboxPermissao" *ngIf="us.usuario && us.usuario.banca.focoFutebol && (us.usuario.tipoUsuario == 'ADMINISTRADOR' || (us.usuario.tipoUsuario == 'GERENTE' && us.usuario.visualizaFutebol))">
          <ion-label stacked>Permitir que Usuário Visualize Futebol </ion-label>
          <ion-checkbox color="primary" [(ngModel)]="usuario.visualizaFutebol" name="visualizaFutebol" small></ion-checkbox>
        </ion-item>

        <ion-item class="checkboxPermissao" *ngIf="us.usuario && us.usuario.banca.focoBolao && (us.usuario.tipoUsuario == 'ADMINISTRADOR' || (us.usuario.tipoUsuario == 'GERENTE' && us.usuario.visualizaBolao))">
          <ion-label stacked>Permitir que Usuário Visualize Acumuladão</ion-label>
          <ion-checkbox color="primary" [(ngModel)]="usuario.visualizaBolao" name="visualizaBolao" small></ion-checkbox>
        </ion-item>

        <ion-item class="checkboxPermissao" *ngIf="us.usuario && us.usuario.banca.focoFutebol && (us.usuario.tipoUsuario == 'ADMINISTRADOR' || (us.usuario.tipoUsuario == 'GERENTE' && us.usuario.visualizaAoVivo))">
          <ion-label stacked>Permitir que Usuário Visualize Ao Vivo </ion-label>
          <ion-checkbox color="primary" [(ngModel)]="usuario.visualizaAoVivo" name="visualizaAoVivo" small></ion-checkbox>
        </ion-item>

        <ion-item class="checkboxPermissao" *ngIf="us.usuario && us.usuario.banca.focoFutebol && (us.usuario.tipoUsuario == 'ADMINISTRADOR' || (us.usuario.tipoUsuario == 'GERENTE' && us.usuario.visualizaTenis))">
          <ion-label stacked>Permitir que Usuário Visualize Tênis </ion-label>
          <ion-checkbox color="primary" [(ngModel)]="usuario.visualizaTenis" name="visualizaTenis" small></ion-checkbox>
        </ion-item>

        <ion-item class="checkboxPermissao" *ngIf="us.usuario && us.usuario.banca.focoFutebol && (us.usuario.tipoUsuario == 'ADMINISTRADOR' || (us.usuario.tipoUsuario == 'GERENTE' && us.usuario.visualizaCombate))">
          <ion-label stacked>Permitir que Usuário Visualize Combate </ion-label>
          <ion-checkbox color="primary" [(ngModel)]="usuario.visualizaCombate" name="visualizaCombate" small></ion-checkbox>
        </ion-item>

        <ion-col col-12 *ngIf="usuario.tipoUsuario == 'GERENTE' || usuario.tipoUsuario == 'CAMBISTA'">
          <ion-item>
            <ion-label color="primary" stacked>Percentual de Comissão (%)</ion-label>
            <ion-input color="primary" type="number" [(ngModel)]="usuario.percentualComissao" name="percentualComissao"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>
          <ion-item>
            <ion-label color="primary" stacked>Senha</ion-label>
            <ion-input color="primary" type="password" [(ngModel)]="usuario.senha" name="cadastroSenha"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-6>
            <ion-item>
              <ion-label color="primary" stacked>Confirmação da Senha</ion-label>
              <ion-input color="primary" type="password" [(ngModel)]="cadastroConfirmacao" name="cadastroConfirmacao"></ion-input>
            </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div>
      <button ion-button color="primary" type="submit" full block [disabled]="!validaForm()">CADASTRAR</button>
    </div>
  </form>
</ion-content>
