page-usuario-cadastro {
  .button-primary{
      font-weight: bold;
      margin: 20px auto 0px auto;
  }

  .button-center{
      @extend .button-primary;
      width: 75%;
  }

  .button-left{
      @extend .button-primary;
      float: left;
      width: 48%;
  }

  .button-right{
      @extend .button-primary;
      float: right;
      width: 48%;
  }

  .checkboxPermissao ion-checkbox{
    margin: auto 10px !important;
  }

  .checkboxPermissao div.item-inner{
    border: none !important;
    color: #999 !important;
  }
}
