
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Transmissões Ao Vivo</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
      <ion-grid class="headerAoVivo">
        <ion-row *ngIf="avservice.partidas && avservice.partidas.length > 0">
          <h6 style="text-align: center; font-size: 10px;"><b style="color:#da3a3a">Observação:</b>Informações sobre horários servem somente como referência.
            Não seremos responsáveis por qualquer informação incorreta de nossos provedores de serviço.</h6>
        </ion-row>
        <ion-row>
            <ion-col col-4>Jogos</ion-col>
            <ion-col col-2 style="text-align: right;">Placar</ion-col>
            <ion-col col-2 style="text-align: center;">Casa</ion-col>
            <ion-col col-2 style="text-align: center;">Empate</ion-col>
            <ion-col col-2 style="text-align: left;">Fora</ion-col>
        </ion-row>
      </ion-grid>

      <ion-card *ngFor="let aovivo of avservice.partidas" style="padding: 0;">
        <ion-card-content>
          <ion-grid style="padding: 0;">
              <ion-row>
                <ion-col col-6 (click)="toPartidaAoVivo(aovivo)">
                  <ion-row>
                    <ion-col col-10 class="aovivo-title">{{aovivo.event.Player1}}</ion-col> <ion-col col-2 class="aovivo-title" style="text-align:center;">{{aovivo.event.scoreTeam1}}</ion-col>
                    <ion-col col-10 class="aovivo-title">{{aovivo.event.Player2}}</ion-col> <ion-col col-2 class="aovivo-title" style="text-align:center;">{{aovivo.event.scoreTeam2}}</ion-col>
                    <ion-col col-12 class="aovivo-subtitle"><i style="color: #f02f1d; font-weight: bold;">AO VIVO</i> &nbsp; {{aovivo.event.statusTime}} &nbsp; {{aovivo.event.tempoPartida.indexOf(':') > -1 ? aovivo.event.tempoPartida.split(":")[0] : '...'}}'</ion-col>
                  </ion-row>
                </ion-col>
                <ion-col col-6 style="padding: 9px 5px;">
                  <ion-row>
                    <ion-col col-4 style="padding: 2px;" *ngIf="aovivo.event?.MainMarket?.Results.length > 0">
                      <button ion-button full *ngIf="aovivo.event?.MainMarket?.Results[0].Visible" (click)="adicionarPartida(aovivo,0, aovivo.event?.MainMarket?.Results[0].Odds)" [color]="buttonStyle(aovivo,0)">
                        <span *ngIf="aovivo.event?.MainMarket?.Results[0].Visible">{{aovivo.event?.MainMarket?.Results[0].Odds}}</span>
                      </button>
                      <button ion-button icon-only round small style="text-align:center; display: block; margin: 0 auto;" *ngIf="!aovivo.event?.MainMarket?.Results[0].Visible">
                        <ion-icon name="lock" ></ion-icon>
                      </button>
                    </ion-col>
                    <ion-col col-4 style="padding: 2px;" *ngIf="aovivo.event?.MainMarket?.Results.length > 1">
                      <button ion-button full *ngIf="aovivo.event?.MainMarket?.Results[1].Visible" (click)="adicionarPartida(aovivo,1, aovivo.event?.MainMarket?.Results[1].Odds)" [color]="buttonStyle(aovivo,1)">
                        <span *ngIf="aovivo.event?.MainMarket?.Results[1].Visible">{{aovivo.event?.MainMarket?.Results[1].Odds}}</span>
                      </button>
                      <button ion-button icon-only round small style="text-align:center; display: block; margin: 0 auto;" *ngIf="!aovivo.event?.MainMarket?.Results[1].Visible">
                        <ion-icon name="lock" ></ion-icon>
                      </button>
                    </ion-col>
                    <ion-col col-4 style="padding: 2px;" *ngIf="aovivo.event?.MainMarket?.Results.length > 2">
                      <button ion-button full *ngIf="aovivo.event?.MainMarket?.Results[2].Visible" (click)="adicionarPartida(aovivo,2, aovivo.event?.MainMarket?.Results[2].Odds)" [color]="buttonStyle(aovivo,2)">
                        <span *ngIf="aovivo.event?.MainMarket?.Results[2].Visible">{{aovivo.event?.MainMarket?.Results[2].Odds}}</span>
                      </button>
                      <button ion-button icon-only round small style="text-align:center; display: block; margin: 0 auto;" *ngIf="!aovivo.event?.MainMarket?.Results[2].Visible">
                        <ion-icon name="lock" ></ion-icon>
                      </button>
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
          </ion-grid>
        </ion-card-content>
    </ion-card>
  </ion-list>

</ion-content>

<ion-footer class="resumo" *ngIf="bs.getBilhete().listaApostas.length > 0" (click)="toBilhete()">
  <ion-grid style="padding: 0;">
    <ion-row class="resumoAposta">
      <ion-col col-3 style="margin-top: 9px;">Resumo</ion-col>
      <ion-col col-3 class="colunaResumo">{{bs.getBilhete().listaApostas.length}}<br/>Jogos</ion-col>
      <ion-col col-3 offset-1 class="colunaResumo">{{bs.getBilhete().valorPossivelRetorno || 0 | currency : 'BRL' : 'symbol'}}<br/>Retorno</ion-col>
      <ion-col col-2 style="text-align: center;"><ion-icon name="arrow-dropup" style="font-size: 24px; margin-top: 2px;"></ion-icon></ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
