page-bolao-palpite {

  ion-list{
    font-weight: bold;
  }

  ion-card-content,
  ion-grid{
    padding: 0 !important;
  }

  .colunaTimes{
    margin: auto;
    font-size: 11px;
    padding-left: 0;
    padding-right: 0;
  }
  .colunaTimes span,
  .colunaPalpite span{
    text-align: center;
    display: block;
  }

}
