<ion-header>

  <ion-navbar>
    <ion-buttons start>
      <button ion-button (click)="dismiss()" color="light">Voltar</button>
    </ion-buttons>
    <ion-title>Palpites</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list *ngIf="listaPalpite && listaPalpite.length > 0">
    <ion-card *ngFor="let palpite of listaPalpite">
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col col-2 style="margin: auto;">
              <i><img  [src]="getImage(palpite)" width="16px"/></i>
            </ion-col>
            <ion-col col-1 style="padding: 0; margin: auto; margin-top: 7px; text-align: right;"><ion-icon name="star" style="font-size: 20px;"></ion-icon></ion-col>

            <ion-col col-6 class="colunaTimes">
              <span>{{palpite.timeCasa}} x {{palpite.timeFora}}</span>
              <span style="font-size: 13px;">{{palpite.placarTimeCasa}} x {{palpite.placarTimeFora}}</span>
            </ion-col>

            <ion-col col-1 style="padding: 0; margin: auto; margin-top: 7px; text-align: left;"><ion-icon name="star" style="font-size: 20px;"></ion-icon></ion-col>
            <ion-col col-2 style="margin: auto; font-size: 11px;" class="colunaPalpite">
              <span>Palpites</span>
              <span>{{palpite.quantidade}}</span>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
