<ion-header>
  <ion-navbar>
    <button ion-button menuToggle *ngIf="!usuarioCredito">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons start *ngIf="usuarioCredito">
      <button ion-button (click)="voltar()" color="botaoVoltar">Voltar</button>
    </ion-buttons>
    <ion-title>Crédito</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-card *ngIf="!usuarioCredito">
    <ion-card-content style="padding: 0;">
      <ion-grid style="padding-top: 0; padding-bottom: 0;">
        <ion-row>
          <ion-item>
            <ion-label stacked>Tipo de Usuário(Favorecidos)</ion-label>
            <ion-select [(ngModel)]="filtro" (ngModelChange)='filterItems($event)'>
              <ion-option [value]="GERENTE">Gerente</ion-option>
              <ion-option [value]="CAMBISTA">Cambista</ion-option>
              <ion-option [value]="Todos">Todos</ion-option>
            </ion-select>
          </ion-item>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <form id="formCredito">
    <ion-grid style="padding-top: 0; padding-bottom: 0;">
      <ion-row>
        <ion-item col-12>
          <ion-label stacked>Descrição do Lançamento</ion-label>
          <ion-select name="descricaoLancamento" [(ngModel)]="lancamento.descricaoLancamento" interface="action-sheet">
            <ion-option *ngFor="let desc of descricaoLancamento" [value]="desc">{{descLancamento(desc)}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-row>

      <ion-row>
        <ion-item col-12>
          <ion-label stacked>Valor do Lançamento</ion-label>
          <ion-input type="number" [(ngModel)]="lancamento.valor" name="valor"></ion-input>
        </ion-item>
      </ion-row>

      <ion-row>
        <ion-item col-12 *ngIf="!usuarioCredito">
          <ion-label stacked>Favorecido</ion-label>
          <ion-select name="id" [(ngModel)]="lancamento.usuario.id" class="selectUsuarioFavorecido" [selectOptions]="selectOptions">
            <ion-option *ngFor="let fav of favorecidos" [value]="fav.id">
                {{fav.nome}}
                {{fav.login}}
                {{fav.conta.saldoLimite || 0 | currency : 'BRL'}}
            </ion-option>
          </ion-select>
        </ion-item>

        <ion-item col-12 *ngIf="usuarioCredito">
          <ion-label stacked>Favorecido</ion-label>
          <ion-input type="text" [(ngModel)]="usuarioCredito.nome" name="usuarioCredito" readonly></ion-input>
        </ion-item>
      </ion-row>

      <ion-row>
        <ion-col col-12>
          <button ion-button (click)="salvarLancamento()" icon-left class="aposta-button">
            <ion-icon name="checkmark-circle"></ion-icon> Salvar</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
