page-credito {
  .select-text{
    white-space: normal;
    font-size: 13px;
  }
}

.alert-radio-label{
  white-space: normal !important;
}

.selectUsuarioFavorecido .alert-radio-label{
  word-spacing: 170px;
}
